In [ ]:
######## Jupyter notebook to visualize dataset ##########

In [2]:
## Imports

# %matplotlib widget # uncomment for interactive plots
from nlb_tools.nwb_interface import NWBDataset
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.collections import LineCollection
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

In [3]:
%ls

X_neural.npy             download.py              train.py
Y_target.npy             model.py                 visualize_dataset.ipynb
__pycache__/             readme.txt
dataset/                 test.nwb

In [4]:
## Load dataset
dataset = NWBDataset("dataset/sub-Indy", "*train", split_heldout=False)

In [5]:
## View 'dataset.data'
dataset.data

signal_type            cursor_pos            finger_pos                        \
channel                         x          y          x          y          z
clock_time
0 days 00:00:00         -4.368126  56.778511  -4.357695  56.758063  94.737781
0 days 00:00:00.001000  -4.367445  56.776709  -4.356471  56.755696  94.736662
0 days 00:00:00.002000  -4.366716  56.774849  -4.355222  56.753297  94.735519
0 days 00:00:00.003000  -4.365940  56.772930  -4.353950  56.750865  94.734355
0 days 00:00:00.004000  -4.365118  56.770954  -4.352654  56.748402  94.733168
...                           ...        ...        ...        ...        ...
0 days 00:10:49.095000  21.912910  21.772385  21.910600  21.775553  87.763974
0 days 00:10:49.096000  21.912572  21.772658  21.910276  21.775811  87.764095
0 days 00:10:49.097000  21.912233  21.772935  21.909954  21.776069  87.764220
0 days 00:10:49.098000  21.911894  21.773216  21.909634  21.776326  87.764350
0 days 00:10:49.099000  21.911554  21.773500  21.909317  21.776582  87.764485

signal_type            finger_vel           spikes            ...            \
channel                         x         y    201  203  204  ... 9201 9203
clock_time                                                    ...
0 days 00:00:00          1.211079 -2.349968    0.0  0.0  0.0  ...  0.0  0.0
0 days 00:00:00.001000   1.236134 -2.383193    0.0  0.0  0.0  ...  0.0  0.0
0 days 00:00:00.002000   1.260579 -2.415633    0.0  0.0  0.0  ...  0.0  0.0
0 days 00:00:00.003000   1.284410 -2.447283    0.0  0.0  0.0  ...  0.0  0.0
0 days 00:00:00.004000   1.307626 -2.478143    0.0  0.0  0.0  ...  0.0  0.0
...                           ...       ...    ...  ...  ...  ...  ...  ...
0 days 00:10:49.095000  -0.325126  0.258578    0.0  0.0  0.0  ...  0.0  0.0
0 days 00:10:49.096000  -0.323063  0.258088    0.0  0.0  0.0  ...  0.0  0.0
0 days 00:10:49.097000  -0.320876  0.257396    0.0  0.0  0.0  ...  0.0  0.0
0 days 00:10:49.098000  -0.318591  0.256517    0.0  0.0  0.0  ...  0.0  0.0
0 days 00:10:49.099000  -0.316212  0.255452    0.0  0.0  0.0  ...  0.0  0.0

signal_type                                          target_pos
channel                9301 9403 9501 9502 9601 9602          x     y
clock_time
0 days 00:00:00         0.0  0.0  0.0  0.0  0.0  0.0       -7.5  52.5
0 days 00:00:00.001000  0.0  0.0  0.0  0.0  0.0  0.0       -7.5  52.5
0 days 00:00:00.002000  0.0  0.0  0.0  0.0  0.0  0.0       -7.5  52.5
0 days 00:00:00.003000  0.0  0.0  0.0  0.0  0.0  0.0       -7.5  52.5
0 days 00:00:00.004000  0.0  0.0  0.0  0.0  0.0  0.0       -7.5  52.5
...                     ...  ...  ...  ...  ...  ...        ...   ...
0 days 00:10:49.095000  0.0  0.0  0.0  0.0  0.0  0.0       37.5  82.5
0 days 00:10:49.096000  0.0  0.0  0.0  0.0  0.0  0.0       37.5  82.5
0 days 00:10:49.097000  0.0  0.0  0.0  0.0  0.0  0.0       37.5  82.5
0 days 00:10:49.098000  0.0  0.0  0.0  0.0  0.0  0.0       37.5  82.5
0 days 00:10:49.099000  0.0  0.0  0.0  0.0  0.0  0.0       37.5  82.5

[649100 rows x 139 columns]

In [6]:
dataset.data.iloc[:,15]

clock_time
0 days 00:00:00           0.0
0 days 00:00:00.001000    0.0
0 days 00:00:00.002000    0.0
0 days 00:00:00.003000    0.0
0 days 00:00:00.004000    0.0
                         ...
0 days 00:10:49.095000    0.0
0 days 00:10:49.096000    0.0
0 days 00:10:49.097000    0.0
0 days 00:10:49.098000    0.0
0 days 00:10:49.099000    0.0
Name: (spikes, 901), Length: 649100, dtype: float16

In [7]:
dataset.data["spikes"]

channel,201,203,204,301,401,601,701,802,901,1001,...,9001,9103,9201,9203,9301,9403,9501,9502,9601,9602
clock_time,,,,,,,,,,,,,,,,,,,,,
0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0 days 00:00:00.001000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0 days 00:00:00.002000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0 days 00:00:00.003000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0 days 00:00:00.004000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0 days 00:10:49.095000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0 days 00:10:49.096000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0 days 00:10:49.097000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0 days 00:10:49.098000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0 days 00:10:49.099000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df_neural_input = dataset.data["spikes"]

In [14]:
# Identifying the NaN locations
nan_locations = df_neural_input.isna()

# Printing the locations of NaN values
for column in nan_locations:
    rows_with_nan = nan_locations[column][nan_locations[column]].index.tolist()
    for row in rows_with_nan:
        print(f"NaN found at Row {row}, Column '{column}'")

NaN found at Row 0 days 00:02:42.200000, Column '201'
NaN found at Row 0 days 00:02:42.201000, Column '201'
NaN found at Row 0 days 00:02:42.202000, Column '201'
NaN found at Row 0 days 00:02:42.203000, Column '201'
NaN found at Row 0 days 00:02:42.204000, Column '201'
NaN found at Row 0 days 00:02:42.205000, Column '201'
NaN found at Row 0 days 00:02:42.206000, Column '201'
NaN found at Row 0 days 00:02:42.207000, Column '201'
NaN found at Row 0 days 00:02:42.208000, Column '201'
NaN found at Row 0 days 00:02:42.209000, Column '201'
NaN found at Row 0 days 00:02:42.210000, Column '201'
NaN found at Row 0 days 00:02:42.211000, Column '201'
NaN found at Row 0 days 00:02:42.212000, Column '201'
NaN found at Row 0 days 00:02:42.213000, Column '201'
NaN found at Row 0 days 00:02:42.214000, Column '201'
NaN found at Row 0 days 00:02:42.215000, Column '201'
NaN found at Row 0 days 00:02:42.216000, Column '201'
NaN found at Row 0 days 00:02:42.217000, Column '201'
NaN found at Row 0 days 00:02:42.218000, Column '201'
NaN found at Row 0 days 00:02:42.219000, Column '201'
NaN found at Row 0 days 00:02:42.220000, Column '201'
NaN found at Row 0 days 00:02:42.221000, Column '201'
NaN found at Row 0 days 00:02:42.222000, Column '201'
NaN found at Row 0 days 00:02:42.223000, Column '201'
NaN found at Row 0 days 00:02:42.224000, Column '201'
NaN found at Row 0 days 00:02:42.225000, Column '201'
NaN found at Row 0 days 00:02:42.226000, Column '201'
NaN found at Row 0 days 00:02:42.227000, Column '201'
NaN found at Row 0 days 00:02:42.228000, Column '201'
NaN found at Row 0 days 00:02:42.229000, Column '201'
NaN found at Row 0 days 00:02:42.230000, Column '201'
NaN found at Row 0 days 00:02:42.231000, Column '201'
NaN found at Row 0 days 00:02:42.232000, Column '201'
NaN found at Row 0 days 00:02:42.233000, Column '201'
NaN found at Row 0 days 00:02:42.234000, Column '201'
NaN found at Row 0 days 00:02:42.235000, Column '201'
NaN found at Row 0 days 00:02:42.236000, Column '201'
NaN found at Row 0 days 00:02:42.237000, Column '201'
NaN found at Row 0 days 00:02:42.238000, Column '201'
NaN found at Row 0 days 00:02:42.239000, Column '201'
NaN found at Row 0 days 00:02:42.240000, Column '201'
NaN found at Row 0 days 00:02:42.241000, Column '201'
NaN found at Row 0 days 00:02:42.242000, Column '201'
NaN found at Row 0 days 00:02:42.243000, Column '201'
NaN found at Row 0 days 00:02:42.244000, Column '201'
NaN found at Row 0 days 00:02:42.245000, Column '201'
NaN found at Row 0 days 00:02:42.246000, Column '201'
NaN found at Row 0 days 00:02:42.247000, Column '201'
NaN found at Row 0 days 00:02:42.248000, Column '201'
NaN found at Row 0 days 00:02:42.249000, Column '201'
NaN found at Row 0 days 00:02:42.250000, Column '201'
NaN found at Row 0 days 00:02:42.251000, Column '201'
NaN found at Row 0 days 00:02:42.252000, Column '201'
NaN found at Row 0 days 00:02:42.253000, Column '201'
NaN found at Row 0 days 00:02:42.254000, Column '201'
NaN found at Row 0 days 00:02:42.255000, Column '201'
NaN found at Row 0 days 00:02:42.256000, Column '201'
NaN found at Row 0 days 00:02:42.257000, Column '201'
NaN found at Row 0 days 00:02:42.258000, Column '201'
NaN found at Row 0 days 00:02:42.259000, Column '201'
NaN found at Row 0 days 00:02:42.260000, Column '201'
NaN found at Row 0 days 00:02:42.261000, Column '201'
NaN found at Row 0 days 00:02:42.262000, Column '201'
NaN found at Row 0 days 00:02:42.263000, Column '201'
NaN found at Row 0 days 00:02:42.264000, Column '201'
NaN found at Row 0 days 00:02:42.265000, Column '201'
NaN found at Row 0 days 00:02:42.266000, Column '201'
NaN found at Row 0 days 00:02:42.267000, Column '201'
NaN found at Row 0 days 00:02:42.268000, Column '201'
NaN found at Row 0 days 00:02:42.269000, Column '201'
NaN found at Row 0 days 00:02:42.270000, Column '201'
NaN found at Row 0 days 00:02:42.271000, Column '201'
NaN found at Row 0 days 00:02:42.272000, Column '201'
NaN found at Row 0 days 00:02:42.273000, Column '201'
NaN found at Row 0 days 00:02:42.274000, Column '201'
NaN found at Row 0 days 00:02:42.275000, Column '201'
NaN found at Row 0 days 00:02:42.276000, Column '201'
NaN found at Row 0 days 00:02:42.277000, Column '201'
NaN found at Row 0 days 00:02:42.278000, Column '201'
NaN found at Row 0 days 00:02:42.279000, Column '201'
NaN found at Row 0 days 00:02:42.280000, Column '201'
NaN found at Row 0 days 00:02:42.281000, Column '201'
NaN found at Row 0 days 00:02:42.282000, Column '201'
NaN found at Row 0 days 00:02:42.283000, Column '201'
NaN found at Row 0 days 00:02:42.284000, Column '201'
NaN found at Row 0 days 00:02:42.285000, Column '201'
NaN found at Row 0 days 00:02:42.286000, Column '201'
NaN found at Row 0 days 00:02:42.287000, Column '201'
NaN found at Row 0 days 00:02:42.288000, Column '201'
NaN found at Row 0 days 00:02:42.289000, Column '201'
NaN found at Row 0 days 00:02:42.290000, Column '201'
NaN found at Row 0 days 00:02:42.291000, Column '201'
NaN found at Row 0 days 00:02:42.292000, Column '201'
NaN found at Row 0 days 00:02:42.293000, Column '201'
NaN found at Row 0 days 00:02:42.294000, Column '201'
NaN found at Row 0 days 00:02:42.295000, Column '201'
NaN found at Row 0 days 00:02:42.296000, Column '201'
NaN found at Row 0 days 00:02:42.297000, Column '201'
NaN found at Row 0 days 00:02:42.298000, Column '201'
NaN found at Row 0 days 00:02:42.299000, Column '201'
NaN found at Row 0 days 00:05:24.500000, Column '201'
NaN found at Row 0 days 00:05:24.501000, Column '201'
NaN found at Row 0 days 00:05:24.502000, Column '201'
NaN found at Row 0 days 00:05:24.503000, Column '201'
NaN found at Row 0 days 00:05:24.504000, Column '201'
NaN found at Row 0 days 00:05:24.505000, Column '201'
NaN found at Row 0 days 00:05:24.506000, Column '201'
NaN found at Row 0 days 00:05:24.507000, Column '201'
NaN found at Row 0 days 00:05:24.508000, Column '201'
NaN found at Row 0 days 00:05:24.509000, Column '201'
NaN found at Row 0 days 00:05:24.510000, Column '201'
NaN found at Row 0 days 00:05:24.511000, Column '201'
NaN found at Row 0 days 00:05:24.512000, Column '201'
NaN found at Row 0 days 00:05:24.513000, Column '201'
NaN found at Row 0 days 00:05:24.514000, Column '201'
NaN found at Row 0 days 00:05:24.515000, Column '201'
NaN found at Row 0 days 00:05:24.516000, Column '201'
NaN found at Row 0 days 00:05:24.517000, Column '201'
NaN found at Row 0 days 00:05:24.518000, Column '201'
NaN found at Row 0 days 00:05:24.519000, Column '201'
NaN found at Row 0 days 00:05:24.520000, Column '201'
NaN found at Row 0 days 00:05:24.521000, Column '201'
NaN found at Row 0 days 00:05:24.522000, Column '201'
NaN found at Row 0 days 00:05:24.523000, Column '201'
NaN found at Row 0 days 00:05:24.524000, Column '201'
NaN found at Row 0 days 00:05:24.525000, Column '201'
NaN found at Row 0 days 00:05:24.526000, Column '201'
NaN found at Row 0 days 00:05:24.527000, Column '201'
NaN found at Row 0 days 00:05:24.528000, Column '201'
NaN found at Row 0 days 00:05:24.529000, Column '201'
NaN found at Row 0 days 00:05:24.530000, Column '201'
NaN found at Row 0 days 00:05:24.531000, Column '201'
NaN found at Row 0 days 00:05:24.532000, Column '201'
NaN found at Row 0 days 00:05:24.533000, Column '201'
NaN found at Row 0 days 00:05:24.534000, Column '201'
NaN found at Row 0 days 00:05:24.535000, Column '201'
NaN found at Row 0 days 00:05:24.536000, Column '201'
NaN found at Row 0 days 00:05:24.537000, Column '201'
NaN found at Row 0 days 00:05:24.538000, Column '201'
NaN found at Row 0 days 00:05:24.539000, Column '201'
NaN found at Row 0 days 00:05:24.540000, Column '201'
NaN found at Row 0 days 00:05:24.541000, Column '201'
NaN found at Row 0 days 00:05:24.542000, Column '201'
NaN found at Row 0 days 00:05:24.543000, Column '201'
NaN found at Row 0 days 00:05:24.544000, Column '201'
NaN found at Row 0 days 00:05:24.545000, Column '201'
NaN found at Row 0 days 00:05:24.546000, Column '201'
NaN found at Row 0 days 00:05:24.547000, Column '201'
NaN found at Row 0 days 00:05:24.548000, Column '201'
NaN found at Row 0 days 00:05:24.549000, Column '201'
NaN found at Row 0 days 00:05:24.550000, Column '201'
NaN found at Row 0 days 00:05:24.551000, Column '201'
NaN found at Row 0 days 00:05:24.552000, Column '201'
NaN found at Row 0 days 00:05:24.553000, Column '201'
NaN found at Row 0 days 00:05:24.554000, Column '201'
NaN found at Row 0 days 00:05:24.555000, Column '201'
NaN found at Row 0 days 00:05:24.556000, Column '201'
NaN found at Row 0 days 00:05:24.557000, Column '201'
NaN found at Row 0 days 00:05:24.558000, Column '201'
NaN found at Row 0 days 00:05:24.559000, Column '201'
NaN found at Row 0 days 00:05:24.560000, Column '201'
NaN found at Row 0 days 00:05:24.561000, Column '201'
NaN found at Row 0 days 00:05:24.562000, Column '201'
NaN found at Row 0 days 00:05:24.563000, Column '201'
NaN found at Row 0 days 00:05:24.564000, Column '201'
NaN found at Row 0 days 00:05:24.565000, Column '201'
NaN found at Row 0 days 00:05:24.566000, Column '201'
NaN found at Row 0 days 00:05:24.567000, Column '201'
NaN found at Row 0 days 00:05:24.568000, Column '201'
NaN found at Row 0 days 00:05:24.569000, Column '201'
NaN found at Row 0 days 00:05:24.570000, Column '201'
NaN found at Row 0 days 00:05:24.571000, Column '201'
NaN found at Row 0 days 00:05:24.572000, Column '201'
NaN found at Row 0 days 00:05:24.573000, Column '201'
NaN found at Row 0 days 00:05:24.574000, Column '201'
NaN found at Row 0 days 00:05:24.575000, Column '201'
NaN found at Row 0 days 00:05:24.576000, Column '201'
NaN found at Row 0 days 00:05:24.577000, Column '201'
NaN found at Row 0 days 00:05:24.578000, Column '201'
NaN found at Row 0 days 00:05:24.579000, Column '201'
NaN found at Row 0 days 00:05:24.580000, Column '201'
NaN found at Row 0 days 00:05:24.581000, Column '201'
NaN found at Row 0 days 00:05:24.582000, Column '201'
NaN found at Row 0 days 00:05:24.583000, Column '201'
NaN found at Row 0 days 00:05:24.584000, Column '201'
NaN found at Row 0 days 00:05:24.585000, Column '201'
NaN found at Row 0 days 00:05:24.586000, Column '201'
NaN found at Row 0 days 00:05:24.587000, Column '201'
NaN found at Row 0 days 00:05:24.588000, Column '201'
NaN found at Row 0 days 00:05:24.589000, Column '201'
NaN found at Row 0 days 00:05:24.590000, Column '201'
NaN found at Row 0 days 00:05:24.591000, Column '201'
NaN found at Row 0 days 00:05:24.592000, Column '201'
NaN found at Row 0 days 00:05:24.593000, Column '201'
NaN found at Row 0 days 00:05:24.594000, Column '201'
NaN found at Row 0 days 00:05:24.595000, Column '201'
NaN found at Row 0 days 00:05:24.596000, Column '201'
NaN found at Row 0 days 00:05:24.597000, Column '201'
NaN found at Row 0 days 00:05:24.598000, Column '201'
NaN found at Row 0 days 00:05:24.599000, Column '201'
NaN found at Row 0 days 00:08:06.800000, Column '201'
NaN found at Row 0 days 00:08:06.801000, Column '201'
NaN found at Row 0 days 00:08:06.802000, Column '201'
NaN found at Row 0 days 00:08:06.803000, Column '201'
NaN found at Row 0 days 00:08:06.804000, Column '201'
NaN found at Row 0 days 00:08:06.805000, Column '201'
NaN found at Row 0 days 00:08:06.806000, Column '201'
NaN found at Row 0 days 00:08:06.807000, Column '201'
NaN found at Row 0 days 00:08:06.808000, Column '201'
NaN found at Row 0 days 00:08:06.809000, Column '201'
NaN found at Row 0 days 00:08:06.810000, Column '201'
NaN found at Row 0 days 00:08:06.811000, Column '201'
NaN found at Row 0 days 00:08:06.812000, Column '201'
NaN found at Row 0 days 00:08:06.813000, Column '201'
NaN found at Row 0 days 00:08:06.814000, Column '201'
NaN found at Row 0 days 00:08:06.815000, Column '201'
NaN found at Row 0 days 00:08:06.816000, Column '201'
NaN found at Row 0 days 00:08:06.817000, Column '201'
NaN found at Row 0 days 00:08:06.818000, Column '201'
NaN found at Row 0 days 00:08:06.819000, Column '201'
NaN found at Row 0 days 00:08:06.820000, Column '201'
NaN found at Row 0 days 00:08:06.821000, Column '201'
NaN found at Row 0 days 00:08:06.822000, Column '201'
NaN found at Row 0 days 00:08:06.823000, Column '201'
NaN found at Row 0 days 00:08:06.824000, Column '201'
NaN found at Row 0 days 00:08:06.825000, Column '201'
NaN found at Row 0 days 00:08:06.826000, Column '201'
NaN found at Row 0 days 00:08:06.827000, Column '201'
NaN found at Row 0 days 00:08:06.828000, Column '201'
NaN found at Row 0 days 00:08:06.829000, Column '201'
NaN found at Row 0 days 00:08:06.830000, Column '201'
NaN found at Row 0 days 00:08:06.831000, Column '201'
NaN found at Row 0 days 00:08:06.832000, Column '201'
NaN found at Row 0 days 00:08:06.833000, Column '201'
NaN found at Row 0 days 00:08:06.834000, Column '201'
NaN found at Row 0 days 00:08:06.835000, Column '201'
NaN found at Row 0 days 00:08:06.836000, Column '201'
NaN found at Row 0 days 00:08:06.837000, Column '201'
NaN found at Row 0 days 00:08:06.838000, Column '201'
NaN found at Row 0 days 00:08:06.839000, Column '201'
NaN found at Row 0 days 00:08:06.840000, Column '201'
NaN found at Row 0 days 00:08:06.841000, Column '201'
NaN found at Row 0 days 00:08:06.842000, Column '201'
NaN found at Row 0 days 00:08:06.843000, Column '201'
NaN found at Row 0 days 00:08:06.844000, Column '201'
NaN found at Row 0 days 00:08:06.845000, Column '201'
NaN found at Row 0 days 00:08:06.846000, Column '201'
NaN found at Row 0 days 00:08:06.847000, Column '201'
NaN found at Row 0 days 00:08:06.848000, Column '201'
NaN found at Row 0 days 00:08:06.849000, Column '201'
NaN found at Row 0 days 00:08:06.850000, Column '201'
NaN found at Row 0 days 00:08:06.851000, Column '201'
NaN found at Row 0 days 00:08:06.852000, Column '201'
NaN found at Row 0 days 00:08:06.853000, Column '201'
NaN found at Row 0 days 00:08:06.854000, Column '201'
NaN found at Row 0 days 00:08:06.855000, Column '201'
NaN found at Row 0 days 00:08:06.856000, Column '201'
NaN found at Row 0 days 00:08:06.857000, Column '201'
NaN found at Row 0 days 00:08:06.858000, Column '201'
NaN found at Row 0 days 00:08:06.859000, Column '201'
NaN found at Row 0 days 00:08:06.860000, Column '201'
NaN found at Row 0 days 00:08:06.861000, Column '201'
NaN found at Row 0 days 00:08:06.862000, Column '201'
NaN found at Row 0 days 00:08:06.863000, Column '201'
NaN found at Row 0 days 00:08:06.864000, Column '201'
NaN found at Row 0 days 00:08:06.865000, Column '201'
NaN found at Row 0 days 00:08:06.866000, Column '201'
NaN found at Row 0 days 00:08:06.867000, Column '201'
NaN found at Row 0 days 00:08:06.868000, Column '201'
NaN found at Row 0 days 00:08:06.869000, Column '201'
NaN found at Row 0 days 00:08:06.870000, Column '201'
NaN found at Row 0 days 00:08:06.871000, Column '201'
NaN found at Row 0 days 00:08:06.872000, Column '201'
NaN found at Row 0 days 00:08:06.873000, Column '201'
NaN found at Row 0 days 00:08:06.874000, Column '201'
NaN found at Row 0 days 00:08:06.875000, Column '201'
NaN found at Row 0 days 00:08:06.876000, Column '201'
NaN found at Row 0 days 00:08:06.877000, Column '201'
NaN found at Row 0 days 00:08:06.878000, Column '201'
NaN found at Row 0 days 00:08:06.879000, Column '201'
NaN found at Row 0 days 00:08:06.880000, Column '201'
NaN found at Row 0 days 00:08:06.881000, Column '201'
NaN found at Row 0 days 00:08:06.882000, Column '201'
NaN found at Row 0 days 00:08:06.883000, Column '201'
NaN found at Row 0 days 00:08:06.884000, Column '201'
NaN found at Row 0 days 00:08:06.885000, Column '201'
NaN found at Row 0 days 00:08:06.886000, Column '201'
NaN found at Row 0 days 00:08:06.887000, Column '201'
NaN found at Row 0 days 00:08:06.888000, Column '201'
NaN found at Row 0 days 00:08:06.889000, Column '201'
NaN found at Row 0 days 00:08:06.890000, Column '201'
NaN found at Row 0 days 00:08:06.891000, Column '201'
NaN found at Row 0 days 00:08:06.892000, Column '201'
NaN found at Row 0 days 00:08:06.893000, Column '201'
NaN found at Row 0 days 00:08:06.894000, Column '201'
NaN found at Row 0 days 00:08:06.895000, Column '201'
NaN found at Row 0 days 00:08:06.896000, Column '201'
NaN found at Row 0 days 00:08:06.897000, Column '201'
NaN found at Row 0 days 00:08:06.898000, Column '201'
NaN found at Row 0 days 00:08:06.899000, Column '201'
NaN found at Row 0 days 00:02:42.200000, Column '203'
NaN found at Row 0 days 00:02:42.201000, Column '203'
NaN found at Row 0 days 00:02:42.202000, Column '203'
NaN found at Row 0 days 00:02:42.203000, Column '203'
NaN found at Row 0 days 00:02:42.204000, Column '203'
NaN found at Row 0 days 00:02:42.205000, Column '203'
NaN found at Row 0 days 00:02:42.206000, Column '203'
NaN found at Row 0 days 00:02:42.207000, Column '203'
NaN found at Row 0 days 00:02:42.208000, Column '203'
NaN found at Row 0 days 00:02:42.209000, Column '203'
NaN found at Row 0 days 00:02:42.210000, Column '203'
NaN found at Row 0 days 00:02:42.211000, Column '203'
NaN found at Row 0 days 00:02:42.212000, Column '203'
NaN found at Row 0 days 00:02:42.213000, Column '203'
NaN found at Row 0 days 00:02:42.214000, Column '203'
NaN found at Row 0 days 00:02:42.215000, Column '203'
NaN found at Row 0 days 00:02:42.216000, Column '203'
NaN found at Row 0 days 00:02:42.217000, Column '203'
NaN found at Row 0 days 00:02:42.218000, Column '203'
NaN found at Row 0 days 00:02:42.219000, Column '203'
NaN found at Row 0 days 00:02:42.220000, Column '203'
NaN found at Row 0 days 00:02:42.221000, Column '203'
NaN found at Row 0 days 00:02:42.222000, Column '203'
NaN found at Row 0 days 00:02:42.223000, Column '203'
NaN found at Row 0 days 00:02:42.224000, Column '203'
NaN found at Row 0 days 00:02:42.225000, Column '203'
NaN found at Row 0 days 00:02:42.226000, Column '203'
NaN found at Row 0 days 00:02:42.227000, Column '203'
NaN found at Row 0 days 00:02:42.228000, Column '203'
NaN found at Row 0 days 00:02:42.229000, Column '203'
NaN found at Row 0 days 00:02:42.230000, Column '203'
NaN found at Row 0 days 00:02:42.231000, Column '203'
NaN found at Row 0 days 00:02:42.232000, Column '203'
NaN found at Row 0 days 00:02:42.233000, Column '203'
NaN found at Row 0 days 00:02:42.234000, Column '203'
NaN found at Row 0 days 00:02:42.235000, Column '203'
NaN found at Row 0 days 00:02:42.236000, Column '203'
NaN found at Row 0 days 00:02:42.237000, Column '203'
NaN found at Row 0 days 00:02:42.238000, Column '203'
NaN found at Row 0 days 00:02:42.239000, Column '203'
NaN found at Row 0 days 00:02:42.240000, Column '203'
NaN found at Row 0 days 00:02:42.241000, Column '203'
NaN found at Row 0 days 00:02:42.242000, Column '203'
NaN found at Row 0 days 00:02:42.243000, Column '203'
NaN found at Row 0 days 00:02:42.244000, Column '203'
NaN found at Row 0 days 00:02:42.245000, Column '203'
NaN found at Row 0 days 00:02:42.246000, Column '203'
NaN found at Row 0 days 00:02:42.247000, Column '203'
NaN found at Row 0 days 00:02:42.248000, Column '203'
NaN found at Row 0 days 00:02:42.249000, Column '203'
NaN found at Row 0 days 00:02:42.250000, Column '203'
NaN found at Row 0 days 00:02:42.251000, Column '203'
NaN found at Row 0 days 00:02:42.252000, Column '203'
NaN found at Row 0 days 00:02:42.253000, Column '203'
NaN found at Row 0 days 00:02:42.254000, Column '203'
NaN found at Row 0 days 00:02:42.255000, Column '203'
NaN found at Row 0 days 00:02:42.256000, Column '203'
NaN found at Row 0 days 00:02:42.257000, Column '203'
NaN found at Row 0 days 00:02:42.258000, Column '203'
NaN found at Row 0 days 00:02:42.259000, Column '203'
NaN found at Row 0 days 00:02:42.260000, Column '203'
NaN found at Row 0 days 00:02:42.261000, Column '203'
NaN found at Row 0 days 00:02:42.262000, Column '203'
NaN found at Row 0 days 00:02:42.263000, Column '203'
NaN found at Row 0 days 00:02:42.264000, Column '203'
NaN found at Row 0 days 00:02:42.265000, Column '203'
NaN found at Row 0 days 00:02:42.266000, Column '203'
NaN found at Row 0 days 00:02:42.267000, Column '203'
NaN found at Row 0 days 00:02:42.268000, Column '203'
NaN found at Row 0 days 00:02:42.269000, Column '203'

In [9]:
X_neural = df_neural_input.to_numpy()

In [10]:
print(X_neural)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [11]:
contains_nan = np.any(np.isnan(X_neural))

In [12]:
print(contains_nan)

True

In [11]:
row_sum_vector = np.sum(X_neural, axis=1)

# Perform column sum
column_sum_vector = np.sum(X_neural, axis=0)

# Display the vectors
print("Row Sum Vector:")
print(row_sum_vector.shape)
print(column_sum_vector.shape)

Row Sum Vector:
(649100,)
(130,)

In [1]:
dataset.data["finger_pos"]

NameError: name 'dataset' is not defined

In [19]:
df_target = dataset.data["finger_pos"]

In [22]:
# Assuming your DataFrame is named df
x_values = df_target['x'].to_numpy()
y_values = df_target['y'].to_numpy()
z_values = df_target['z'].to_numpy()

# Stack 'x' and 'y' arrays vertically
Y_target = np.column_stack((x_values, y_values,z_values))

In [23]:
print(Y_target)

[[-4.35769473 56.75806327 94.73778125]
 [-4.35647098 56.75569649 94.73666161]
 [-4.35522247 56.75329688 94.73551949]
 ...
 [21.90995401 21.77606878 87.76422022]
 [21.90963425 21.77632579 87.76435014]
 [21.90931683 21.77658182 87.76448458]]

In [24]:
# Save the matrices to an npy file
np.save('X_neural.npy', X_neural)
np.save('Y_target.npy', Y_target)

In [25]:
%ls

X_neural.npy             download.py              train.py
Y_target.npy             model.py                 visualize_dataset.ipynb
__pycache__/             readme.txt
dataset/                 test.nwb